#*
This file allows you to override and define new Velocity variables.
*#

##define my variables
#set($mycar="bww")

#set($price=20)

#set($printOrder="hello ,your order is ...")

#set($noOrder="error...")

#set($eventlist=["aa","bb","cc"])

#set($meventlist=["aa","bb"])




